# CPU type

## ALIGNMENT

CPU_TYPE=-axSSSE3,SSE4.2,AVX,CORE-AVX2   # [ CORE-AVX2 | CORE-AVX-I | AVX | SSE4.2 ]
#CPU_TYPE="-axCORE-AVX2,SSE4.2,SSE2" # [ CORE-AVX2 | CORE-AVX-I | AVX | SSE4.2 ]
#CPU_TYPE="-xAVX" # [ CORE-AVX2 | CORE-AVX-I | AVX | SSE4.2 ]
#CPU_TYPE="-xCORE-AVX2" # [ CORE-AVX2 | CORE-AVX-I | AVX | SSE4.2 ]
#CPU_TYPE="-xSSE4.2" # [ CORE-AVX2 | CORE-AVX-I | AVX | SSE4.2 ]

# Array alignment (Bytes)
ALIGN="32"

## FORTRAN compiler
FC="ifort"
NINJA="ninja"
FCFLAGS="-O2 -g -ip -ftz -finline ${CPU_TYPE}" #-traceback
LIB="-mkl=sequential"

## IRPF90
IRPF90="${QMCCHEM_PATH}/bin/irpf90"
IRPF90_FLAGS="--align=${ALIGN} ${IRPF90_FLAGS}"

export FC NINJA FCFLAGS LIB IRPF90 IRPF90_FLAGS

